---
#  Data modeling, importing, Indexing and Querying GPX Datasets

Date: 27-11-2019 <br>
Concept version: 0.9 <br>
Author: Pieter Lems  <br>

Â© Copyright 2019 Ministerie van Defensie


This notebook wil provide information relating to creating data models for MongoDB.
To create the data models we are going to use Python and MongoEngine.

The notebook also shows how to import the data into the mongoDB datastores.
A python only script is also available in the utilities folder ('~/Geostack-local/utilties/import_datasets_mongo/') located in the Geostack virtual machine.


## Contents of notebook

- Importing the required modules
- Reading the datasets
- Validating the datasets
- Connecting to the database
  - Create Docker MongoDB database (if needed)
  - Connect
- Creating the model
- Loading the data using the model
  - Creating the import functions
  - Load the data
- Querying the data (pre-indexing)
  - Indexing the data
  - Querying the data (post-indexing)
  
### The data sets in used in this notebook can be found in the folder ("../Data/Trail_JSON/")



   
---

---
# Importing the required modules
---

In [18]:
import pandas as pd # Used to read the JSON datasets
from mongoengine import * # Used to model, import and index the data in MongoDB 
from datetime import datetime #Used to transform timestamps in valid datetime

## Reading the datasets

In [19]:
B = pd.read_json('../Data/Trail_JSON/Trail_Biesbosch.json')
BM = pd.read_json('../Data/Trail_JSON/Trail_BBMuseum.json')
BH = pd.read_json('../Data/Trail_JSON/Trail_Biesbosch_Hank.json')
ZC = pd.read_json('../Data/Trail_JSON/Trail_Camper_Zeeland.json')
ZC2 = pd.read_json('../Data/Trail_JSON/Trail_ZeelandMNV.json')
D = pd.read_json('../Data/Trail_JSON/Trail_Dikkenberg.json')
DL = pd.read_json('../Data/Trail_JSON/Trail_Dikkenberg_Libellen.json')
DN = pd.read_json('../Data/Trail_JSON/Trail_Dikkenberg_Nacht.json')
H1 = pd.read_json('../Data/Trail_JSON/Trail_Hamert_1.json')
H2 = pd.read_json('../Data/Trail_JSON/Trail_Hamert_2.json')
HF = pd.read_json('../Data/Trail_JSON/Trail_Hamert_Fiets.json')
HM = pd.read_json('../Data/Trail_JSON/Trail_Hamert_Maasduinen.json')
NW = pd.read_json('../Data/Trail_JSON/Trail_Noordwaard.json')
UR = pd.read_json('../Data/Trail_JSON/Trail_Urania.json')
NZ = pd.read_json('../Data/Trail_JSON/Trail_Vaardag.json')


## Validating the datasets

to validate whether the correct datasets have been read, we should print the first row of each dataset.

---

In [20]:
B[:1]

        lon        lat    alt           time           spd    avg_spd
0  4.811173  51.706095 -61.87  1253964479000  14462.987891  33.903271

In [21]:
BM[:1]

        lon        lat   alt           time  spd    avg_spd
0  4.930237  51.793859  2.54  1266050897000  NaN  60.418469

In [22]:
BH[:1]

        lon        lat   alt           time        spd   avg_spd
0  4.853199  51.734465 -4.19  1251634398000  11.789799  7.800167

In [23]:
ZC[:1]

        lon        lat    alt           time  spd    avg_spd
0  4.708233  51.561372 -52.74  1331815367000  NaN  30.780869

In [24]:
ZC2[:1]

       lon       lat    alt           time  spd    avg_spd
0  4.70849  51.56133 -18.61  1295166887000  NaN  33.423545

In [25]:
D[:1]

        lon        lat     alt           time  spd    avg_spd
0  5.775827  50.833183  106.84  1337425073000  NaN  17.206357

In [26]:
DL[:1]

        lon        lat     alt           time         spd  avg_spd
0  4.763983  51.807363 -128.68  1307098325000  153.649814  3.39741

In [27]:
DN[:1]

        lon        lat    alt           time  spd   avg_spd
0  6.161481  51.539598  23.21  1338651296000  NaN  1.449667

In [28]:
H1[:1]

      lon        lat   alt           time           spd   avg_spd
0  6.1697  51.507837  6.87  1286777502000  91113.897474  24.92685

In [29]:
H2[:1]

        lon        lat   alt           time  spd   avg_spd
0  6.169716  51.507793  8.31  1252341145000  NaN  0.018189

In [30]:
HF[:1]

        lon        lat    alt           time  spd   avg_spd
0  6.170593  51.507754  25.61  1256478738000  NaN  4.710238

In [31]:
HM[:1]

        lon        lat   alt           time       spd   avg_spd
0  6.169669  51.507777  8.79  1252323219000  0.495573  0.530961

In [32]:
NW[:1]

       lon        lat   alt           time  spd    avg_spd
0  4.77098  51.767206  5.91  1266060683000  NaN  69.314603

In [33]:
UR[:1]

        lon        lat    alt           time  spd    avg_spd
0  5.285481  52.699478  10.23  1254381845000  NaN  10.471414

In [34]:
NZ[:1]

        lon        lat    alt           time        spd    avg_spd
0  4.787559  52.954391 -14.28  1245830075000  11.951059  13.568662

## Connecting to the database

#### Create Docker container

In [35]:
# Uncomment the next line if you dont have a mongoDB docker container
# and you want to import the data in a docker container
#docker run -d -p 27017:27017 mongo:latest # Download mongodb image and run the container on port 27017 (localhost:27017)

#### Connect

In [36]:
connect('Trail_Database')

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True, read_preference=Primary())

---

# Creating the model

---

In [37]:
class Trail(Document):
    
    # Name of the Trail 
    name = StringField()

    # Abreviation of the Name
    abr = StringField()
    
    # Start date
    s_date= DateTimeField()
    
    # End date
    e_date = DateTimeField()
    
    # Trail type (Biking,Hiking,Driving,Sailing )
    r_type = StringField() 

    # Amount of trackpoints in the dataset
    t_points = IntField()

    # The Average Speed of the route
    avg_speed = FloatField()


class Geometry(EmbeddedDocument):
 
    # coordinates of transmission coord=[1,2]
    coord = PointField()
    
    # altitude of tansmission
    alt = FloatField()


class Speed(EmbeddedDocument):
    
    # Speed field
    spd = FloatField()
    

class Signal(Document):
    
    # Timestamp of transmission
    time = DateTimeField()
    
    # Geometry of transmission
    geometry = EmbeddedDocumentField(Geometry)
    
    # Speed at time of transmission
    speed = EmbeddedDocumentField(Speed)
    
    # Reference to the route of transmission
    trail = ReferenceField(Trail)

---

# Loading the data using the model
---

## Creating the import functionsÂ¶

In [38]:
def load_data(df,name,abreviation,type):
    
    # Get the time of the first column
    # /1000 to remove utc info
    s_date = datetime.fromtimestamp((df.at[0,'time']/1000))
    
    # Get the time of the last column
    # dataframe at location [index lenght data frame -1, column name]
    # /1000 to remove utc info
    e_date = datetime.fromtimestamp((df.at[len(df.index)-1,'time']/1000))
    
    t_points = df.shape[0]
    

    #Create the trial document
    trail = Trail(name = name,
                  s_date = s_date,
                  e_date = e_date,
                  abr = abreviation,
                  r_type = type,
                  t_points = t_points)
    trail.save()

    # Create an empty list of signals
    # We will append the new signals to 
    # this list. Then we will pass the list to 
    # the mongodb bulk insert feature
    signals = []
    
    
    # Itterate trough all rows in dataframe
    for index,row in df.iterrows():
        
        # Convert the datetime to a valid format
        time = datetime.fromtimestamp(row['time']/1000)
        
        # Create the geometry document
        geometry = Geometry(coord = [row['lon'],row['lat']], 
                            alt = row['alt'])
        
        # Create the speed document
        # Make sure null values are inserted as 0
        if str(row['spd'])== 'nan':
            speed = Speed(spd = 0)
        else:
            speed = Speed(spd = row['spd'])
        
        singal = Signal(time = time,
                        geometry = geometry,
                        trail = trail)
    
        # Create the Signal document
        signals.append(singal)

    Signal.objects.insert(signals,load_bulk=True)

    print("Inserted " + str(len(df.index))+" trackpoints from dataset: " + str(name))

## Loading the data

In [39]:
load_data(B,'Biesbosch','B','Hiking')
load_data(BM,"Biesbosch Museum",'BM',"Driving")
load_data(BH,"Biesbosch Hank",'BH',"Sailing")
load_data(ZC,"Zeeland Camper",'ZC',"Driving")
load_data(ZC2,"Zeeland Camper 2",'ZC2',"Driving")
load_data(D,"Dikkenberg",'D',"Hiking")
load_data(DL,"Dikkenberg Libellen",'DL',"Hiking")
load_data(DN,"Dikkenberg Nacht",'DN',"Hiking")
load_data(H1,"Hamert 1",'H1',"Hiking")
load_data(H2,"Hamert 2",'H2',"Hiking")
load_data(HF,"Hamert Fiets",'HF',"Biking")
load_data(HM,"Hamert Maasduinen",'HM',"Hiking")
load_data(NW,"Noordwaard",'NW',"Hiking")
load_data(UR,"Urania",'UR',"Hiking")
load_data(NZ,"Noordzee",'NZ',"Sailing")

Inserted 739 trackpoints from dataset: Biesbosch
Inserted 124 trackpoints from dataset: Biesbosch Museum
Inserted 531 trackpoints from dataset: Biesbosch Hank
Inserted 1278 trackpoints from dataset: Zeeland Camper
Inserted 2282 trackpoints from dataset: Zeeland Camper 2
Inserted 1724 trackpoints from dataset: Dikkenberg
Inserted 493 trackpoints from dataset: Dikkenberg Libellen
Inserted 224 trackpoints from dataset: Dikkenberg Nacht
Inserted 929 trackpoints from dataset: Hamert 1
Inserted 1487 trackpoints from dataset: Hamert 2
Inserted 422 trackpoints from dataset: Hamert Fiets
Inserted 1882 trackpoints from dataset: Hamert Maasduinen
Inserted 327 trackpoints from dataset: Noordwaard
Inserted 1978 trackpoints from dataset: Urania
Inserted 1535 trackpoints from dataset: Noordzee

---
# Querying the data pre-index

First we will run a couple of queries before we create the indexes on the database. By doing this, we can compare the time it takes to return a certain amount of data with and without an indexed database.

To find information related to the execution of the query add .explain() behind the query

---

In [41]:
#Query to find ID of the trail : Biesbosch
Trail.objects(name = 'Biesbosch').only('name','id').to_json()

'[{"_id": {"$oid": "5e1db4c3a602d099584a91cb"}, "name": "Biesbosch"}]'

In [42]:
#Query to return al items related to Trial: Biesbosch
Signal.objects(trail='5e1db4c3a602d099584a91cb').explain()

{'queryPlanner': {'plannerVersion': 1,
  'namespace': 'Trail_Database.signal',
  'indexFilterSet': False,
  'parsedQuery': {'trail': {'$eq': ObjectId('5e1db4c3a602d099584a91cb')}},
  'winningPlan': {'stage': 'COLLSCAN',
   'filter': {'trail': {'$eq': ObjectId('5e1db4c3a602d099584a91cb')}},
   'direction': 'forward'},
  'rejectedPlans': []},
 'executionStats': {'executionSuccess': True,
  'nReturned': 739,
  'executionTimeMillis': 10,
  'totalKeysExamined': 0,
  'totalDocsExamined': 15955,
  'executionStages': {'stage': 'COLLSCAN',
   'filter': {'trail': {'$eq': ObjectId('5e1db4c3a602d099584a91cb')}},
   'nReturned': 739,
   'executionTimeMillisEstimate': 10,
   'works': 15957,
   'advanced': 739,
   'needTime': 15217,
   'needYield': 0,
   'saveState': 124,
   'restoreState': 124,
   'isEOF': 1,
   'invalidates': 0,
   'direction': 'forward',
   'docsExamined': 15955},
  'allPlansExecution': []},
 'serverInfo': {'host': 'geostack-system',
  'port': 27017,
  'version': '3.6.3',
  'gitVersion': '9586e557d54ef70f9ca4b43c26892cd55257e1a5'},
 'ok': 1.0}

It took 15 miliseconds to return 739 results using a COLLSCAN (Collection scan)

In [43]:
#Query to return al items related to Crane: Lotta, between 2008-08-26 and 2009-9-27
Signal.objects(Q(trail='5e1db4c3a602d099584a91cb')&
                     Q(time__gte=datetime(2008,8,26)) &
                     Q(time__lte=datetime(2009,9,27))).explain()

{'queryPlanner': {'plannerVersion': 1,
  'namespace': 'Trail_Database.signal',
  'indexFilterSet': False,
  'parsedQuery': {'$and': [{'trail': {'$eq': ObjectId('5e1db4c3a602d099584a91cb')}},
    {'time': {'$lte': datetime.datetime(2009, 9, 27, 0, 0)}},
    {'time': {'$gte': datetime.datetime(2008, 8, 26, 0, 0)}}]},
  'winningPlan': {'stage': 'COLLSCAN',
   'filter': {'$and': [{'trail': {'$eq': ObjectId('5e1db4c3a602d099584a91cb')}},
     {'time': {'$lte': datetime.datetime(2009, 9, 27, 0, 0)}},
     {'time': {'$gte': datetime.datetime(2008, 8, 26, 0, 0)}}]},
   'direction': 'forward'},
  'rejectedPlans': []},
 'executionStats': {'executionSuccess': True,
  'nReturned': 739,
  'executionTimeMillis': 10,
  'totalKeysExamined': 0,
  'totalDocsExamined': 15955,
  'executionStages': {'stage': 'COLLSCAN',
   'filter': {'$and': [{'trail': {'$eq': ObjectId('5e1db4c3a602d099584a91cb')}},
     {'time': {'$lte': datetime.datetime(2009, 9, 27, 0, 0)}},
     {'time': {'$gte': datetime.datetime(2008, 8, 26, 0, 0)}}]},
   'nReturned': 739,
   'executionTimeMillisEstimate': 10,
   'works': 15957,
   'advanced': 739,
   'needTime': 15217,
   'needYield': 0,
   'saveState': 124,
   'restoreState': 124,
   'isEOF': 1,
   'invalidates': 0,
   'direction': 'forward',
   'docsExamined': 15955},
  'allPlansExecution': []},
 'serverInfo': {'host': 'geostack-system',
  'port': 27017,
  'version': '3.6.3',
  'gitVersion': '9586e557d54ef70f9ca4b43c26892cd55257e1a5'},
 'ok': 1.0}

It took 16 miliseconds to return 739 results using a COLLSCAN (Collection scan)

# Indexing the database

there are 3 ways to create indexes.

   - Create indexes when creating the model To create an index using mongo engine, we have to add metadata to the to the datamodel. So when using mongoengine you have to create the indexes before loading the data. For example: If we want to create an index on the altitude field while creating the model. we add the following to our geometry document:

    meta = {
    'collection': 'alt',
    'indexes': [

    {'fields': ['alt']}

    ] }

   - Create indexes after creating the model We can also create the indexes after we created the datamodel. We are going to use this way to create indexes below. For example: if we want to create an index on the altitude field after creating the data model we would run the following command:
    Transmission.create_index(("geometry.alt"))

   - Create indexes using pymongo
    add 2d index to coord field db.signals.ensureIndex({"geometry.coord.coordinates":"2d"});

We want to create 4 indexes

   - 2D Sphere index This index will be used to query the coordinates of the trackpoit (This was automaticly done when assiging PointField() to the coordinates entry, when creating the database model)
    2D index We need this index to be able to find coordinates in a cetrain box
   - time index We need this index because we will query on the time a lot of times
   - trail index (in the signal collection) We need this index because we will query to find signals per trail using the trail

In [44]:
# Create an index on the trail reference field in the signal collection
Signal.create_index(("trail"))

'trail_1'

In [45]:
# Create an index on the time field in the signal collection
Signal.create_index(("time"))

'time_1'

In [46]:
# Create an index on the coordinates field in the transmission collection
Signal.create_index(("geometry.coord"))

'geometry.coord_1'

---
# Querying the data post-indexÂ¶
---

In [47]:
#Query to return al items related to Trial: Biesbosch
Signal.objects(trail='5e1db4c3a602d099584a91cb').explain()

{'queryPlanner': {'plannerVersion': 1,
  'namespace': 'Trail_Database.signal',
  'indexFilterSet': False,
  'parsedQuery': {'trail': {'$eq': ObjectId('5e1db4c3a602d099584a91cb')}},
  'winningPlan': {'stage': 'FETCH',
   'inputStage': {'stage': 'IXSCAN',
    'keyPattern': {'trail': 1},
    'indexName': 'trail_1',
    'isMultiKey': False,
    'multiKeyPaths': {'trail': []},
    'isUnique': False,
    'isSparse': False,
    'isPartial': False,
    'indexVersion': 2,
    'direction': 'forward',
    'indexBounds': {'trail': ["[ObjectId('5e1db4c3a602d099584a91cb'), ObjectId('5e1db4c3a602d099584a91cb')]"]}}},
  'rejectedPlans': []},
 'executionStats': {'executionSuccess': True,
  'nReturned': 739,
  'executionTimeMillis': 2,
  'totalKeysExamined': 739,
  'totalDocsExamined': 739,
  'executionStages': {'stage': 'FETCH',
   'nReturned': 739,
   'executionTimeMillisEstimate': 0,
   'works': 740,
   'advanced': 739,
   'needTime': 0,
   'needYield': 0,
   'saveState': 5,
   'restoreState': 5,
   'isEOF': 1,
   'invalidates': 0,
   'docsExamined': 739,
   'alreadyHasObj': 0,
   'inputStage': {'stage': 'IXSCAN',
    'nReturned': 739,
    'executionTimeMillisEstimate': 0,
    'works': 740,
    'advanced': 739,
    'needTime': 0,
    'needYield': 0,
    'saveState': 5,
    'restoreState': 5,
    'isEOF': 1,
    'invalidates': 0,
    'keyPattern': {'trail': 1},
    'indexName': 'trail_1',
    'isMultiKey': False,
    'multiKeyPaths': {'trail': []},
    'isUnique': False,
    'isSparse': False,
    'isPartial': False,
    'indexVersion': 2,
    'direction': 'forward',
    'indexBounds': {'trail': ["[ObjectId('5e1db4c3a602d099584a91cb'), ObjectId('5e1db4c3a602d099584a91cb')]"]},
    'keysExamined': 739,
    'seeks': 1,
    'dupsTested': 0,
    'dupsDropped': 0,
    'seenInvalidated': 0}},
  'allPlansExecution': []},
 'serverInfo': {'host': 'geostack-system',
  'port': 27017,
  'version': '3.6.3',
  'gitVersion': '9586e557d54ef70f9ca4b43c26892cd55257e1a5'},
 'ok': 1.0}

It took 0 miliseconds to return 739 results using a IXSCAN (Index scan)

In [48]:
#Query to return al items related to Crane: Lotta, between 2008-08-26 and 2009-9-27
Signal.objects(Q(trail='5e1db4c3a602d099584a91cb')&
                     Q(time__gte=datetime(2008,8,26)) &
                     Q(time__lte=datetime(2009,9,27))).explain()

{'queryPlanner': {'plannerVersion': 1,
  'namespace': 'Trail_Database.signal',
  'indexFilterSet': False,
  'parsedQuery': {'$and': [{'trail': {'$eq': ObjectId('5e1db4c3a602d099584a91cb')}},
    {'time': {'$lte': datetime.datetime(2009, 9, 27, 0, 0)}},
    {'time': {'$gte': datetime.datetime(2008, 8, 26, 0, 0)}}]},
  'winningPlan': {'stage': 'FETCH',
   'filter': {'$and': [{'time': {'$lte': datetime.datetime(2009, 9, 27, 0, 0)}},
     {'time': {'$gte': datetime.datetime(2008, 8, 26, 0, 0)}}]},
   'inputStage': {'stage': 'IXSCAN',
    'keyPattern': {'trail': 1},
    'indexName': 'trail_1',
    'isMultiKey': False,
    'multiKeyPaths': {'trail': []},
    'isUnique': False,
    'isSparse': False,
    'isPartial': False,
    'indexVersion': 2,
    'direction': 'forward',
    'indexBounds': {'trail': ["[ObjectId('5e1db4c3a602d099584a91cb'), ObjectId('5e1db4c3a602d099584a91cb')]"]}}},
  'rejectedPlans': [{'stage': 'FETCH',
    'filter': {'trail': {'$eq': ObjectId('5e1db4c3a602d099584a91cb')}},
    'inputStage': {'stage': 'IXSCAN',
     'keyPattern': {'time': 1},
     'indexName': 'time_1',
     'isMultiKey': False,
     'multiKeyPaths': {'time': []},
     'isUnique': False,
     'isSparse': False,
     'isPartial': False,
     'indexVersion': 2,
     'direction': 'forward',
     'indexBounds': {'time': ['[new Date(1219708800000), new Date(1254009600000)]']}}}]},
 'executionStats': {'executionSuccess': True,
  'nReturned': 739,
  'executionTimeMillis': 4,
  'totalKeysExamined': 739,
  'totalDocsExamined': 739,
  'executionStages': {'stage': 'FETCH',
   'filter': {'$and': [{'time': {'$lte': datetime.datetime(2009, 9, 27, 0, 0)}},
     {'time': {'$gte': datetime.datetime(2008, 8, 26, 0, 0)}}]},
   'nReturned': 739,
   'executionTimeMillisEstimate': 10,
   'works': 740,
   'advanced': 739,
   'needTime': 0,
   'needYield': 0,
   'saveState': 7,
   'restoreState': 7,
   'isEOF': 1,
   'invalidates': 0,
   'docsExamined': 739,
   'alreadyHasObj': 0,
   'inputStage': {'stage': 'IXSCAN',
    'nReturned': 739,
    'executionTimeMillisEstimate': 0,
    'works': 740,
    'advanced': 739,
    'needTime': 0,
    'needYield': 0,
    'saveState': 7,
    'restoreState': 7,
    'isEOF': 1,
    'invalidates': 0,
    'keyPattern': {'trail': 1},
    'indexName': 'trail_1',
    'isMultiKey': False,
    'multiKeyPaths': {'trail': []},
    'isUnique': False,
    'isSparse': False,
    'isPartial': False,
    'indexVersion': 2,
    'direction': 'forward',
    'indexBounds': {'trail': ["[ObjectId('5e1db4c3a602d099584a91cb'), ObjectId('5e1db4c3a602d099584a91cb')]"]},
    'keysExamined': 739,
    'seeks': 1,
    'dupsTested': 0,
    'dupsDropped': 0,
    'seenInvalidated': 0}},
  'allPlansExecution': [{'nReturned': 0,
    'executionTimeMillisEstimate': 0,
    'totalKeysExamined': 101,
    'totalDocsExamined': 101,
    'executionStages': {'stage': 'FETCH',
     'filter': {'trail': {'$eq': ObjectId('5e1db4c3a602d099584a91cb')}},
     'nReturned': 0,
     'executionTimeMillisEstimate': 0,
     'works': 101,
     'advanced': 0,
     'needTime': 101,
     'needYield': 0,
     'saveState': 1,
     'restoreState': 1,
     'isEOF': 0,
     'invalidates': 0,
     'docsExamined': 101,
     'alreadyHasObj': 0,
     'inputStage': {'stage': 'IXSCAN',
      'nReturned': 101,
      'executionTimeMillisEstimate': 0,
      'works': 101,
      'advanced': 101,
      'needTime': 0,
      'needYield': 0,
      'saveState': 1,
      'restoreState': 1,
      'isEOF': 0,
      'invalidates': 0,
      'keyPattern': {'time': 1},
      'indexName': 'time_1',
      'isMultiKey': False,
      'multiKeyPaths': {'time': []},
      'isUnique': False,
      'isSparse': False,
      'isPartial': False,
      'indexVersion': 2,
      'direction': 'forward',
      'indexBounds': {'time': ['[new Date(1219708800000), new Date(1254009600000)]']},
      'keysExamined': 101,
      'seeks': 1,
      'dupsTested': 0,
      'dupsDropped': 0,
      'seenInvalidated': 0}}},
   {'nReturned': 101,
    'executionTimeMillisEstimate': 0,
    'totalKeysExamined': 101,
    'totalDocsExamined': 101,
    'executionStages': {'stage': 'FETCH',
     'filter': {'$and': [{'time': {'$lte': datetime.datetime(2009, 9, 27, 0, 0)}},
       {'time': {'$gte': datetime.datetime(2008, 8, 26, 0, 0)}}]},
     'nReturned': 101,
     'executionTimeMillisEstimate': 0,
     'works': 101,
     'advanced': 101,
     'needTime': 0,
     'needYield': 0,
     'saveState': 1,
     'restoreState': 1,
     'isEOF': 0,
     'invalidates': 0,
     'docsExamined': 101,
     'alreadyHasObj': 0,
     'inputStage': {'stage': 'IXSCAN',
      'nReturned': 101,
      'executionTimeMillisEstimate': 0,
      'works': 101,
      'advanced': 101,
      'needTime': 0,
      'needYield': 0,
      'saveState': 1,
      'restoreState': 1,
      'isEOF': 0,
      'invalidates': 0,
      'keyPattern': {'trail': 1},
      'indexName': 'trail_1',
      'isMultiKey': False,
      'multiKeyPaths': {'trail': []},
      'isUnique': False,
      'isSparse': False,
      'isPartial': False,
      'indexVersion': 2,
      'direction': 'forward',
      'indexBounds': {'trail': ["[ObjectId('5e1db4c3a602d099584a91cb'), ObjectId('5e1db4c3a602d099584a91cb')]"]},
      'keysExamined': 101,
      'seeks': 1,
      'dupsTested': 0,
      'dupsDropped': 0,
      'seenInvalidated': 0}}}]},
 'serverInfo': {'host': 'geostack-system',
  'port': 27017,
  'version': '3.6.3',
  'gitVersion': '9586e557d54ef70f9ca4b43c26892cd55257e1a5'},
 'ok': 1.0}

It took 0 miliseconds to return 739 results using a IXSCAN (Index scan)

# Some GeoQueries

In [49]:
#Select all Transmissions in certain polygone
# Use https://www.keene.edu/campus/maps/tool/ to find desired polygone.
# parameters:
# - point 1
# - point 2
# - point 3
# - point 4

def select_transmissions_in_polygone(p1,p2,p3,p4):
    Transmissions_in_Polygone = Transmission.objects(geometry__coord__geo_within=[[p1,p2,p3,p4]]).to_json()
    return pd.DataFrame(eval(Transmissions_in_Polygone))

In [50]:
# Select all transmission near a certain point
# parameters
# longitude of point
# latitude of point
# distance around point (in meters)

def transmissions_near_point(lon,lat,distance):
    
    Transmissions_near_Point = Transmission.objects(geometry__coord__near=[lon, lat],
                                                    geometry__coord__max_distance=distance).to_json()
    
    return pd.read_json(Transmissions_near_Point)